.sectionPadding{
    padding-top: 100px;
    padding-bottom: 100px;
}

.underLine{
    height: 4px;
    width: 5rem;
    background-color: red;
    border-radius: 4px;
}
.underLine1{
    height: 4px;
    width: 5rem;
    background-color: blue;
    border-radius: 4px;
}

.pHome{
    text-align: justify;
}

.subUnderLine{
    height: 4px;
    width: 5rem;
    background-color: green;
    border-radius: 4px;
}

.f2f2f2{
    background-color: #f2f2f2;
}